@page
@model MyApp.Namespace.CreateModel
@{
 }

<h1> Crear personas</h1> 
<br/>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            
                <div class="form-group">
                    Nombres<label asp-for="Persona.Nombres" class="control-label"></label>
                    <input asp-for="Persona.Nombres" class="form-control" placeholder="Digite Su nombre" required>
                    <span asp-validation-for="Persona.Nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Identidad<label asp-for="Persona.Identidad" class="control-label"></label>
                    <input asp-for="Persona.Identidad" class="form-control" placeholder="Digite si Identidad" required>
                    <span asp-validation-for="Persona.Identidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Sexo<label asp-for="Persona.Sexo" class="control-label"></label>
                    <input asp-for="Persona.Sexo" class="form-control" placeholder="Digite Su Genero" required>
                    <span asp-validation-for="Persona.Sexo" class="text-danger"></span>
                </div>
            
                <div class="form-group">
                    Edad<label asp-for="Persona.Edad" class="control-label"></label>
                    <input asp-for="Persona.Edad" class="form-control" placeholder="Digite Su Edad" required>
                    <span asp-validation-for="Persona.Edad" class="text-danger"></span>
                </div>
                <div class ="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary"/>
                </div>
                
                <a asp-page="./List">Listar Personas</a>
        </form>
    </div>
</div>