@page
@model MyApp.Namespace.ListModel
@{
}
<h2>Actualizar Persona</h2>
<br>
<table>
    <tr>
        <div>
            <th>Nombres</th>
            <th>Identidad</th>
            <th>Sexo</th>
            <th>Edad</th>
        </div>
    </tr> 
    <tr>
        <!--div>
            <td>Html.DisplayNameForModel(Model= Model.Personas.)</td>
            <td>Model.personas.Identidad</td>
            <td>Model.personas.Sexo</td>
            <td>Model.personas.Edad</td>
        </div>-->
    </tr>

</table>


<a asp-page="./List" class="btn-default">Lista de Personas</a>